* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 300px;
    margin: 0 auto;
}

.container {
    /* max-width: 90px; */
    display: inline-block
    /* justify-content: flex-start;
    flex-wrap: wrap; */
    /* flex-direction: column; */
}
.inputScreen {
    margin: .25rem 0;
    max-width: 253px;
    height: 40px;
    font-size: 2rem;
    text-align: right;
    border: 2px solid black;
}
.button {
    margin: 2px 0;
    width: 20%;
    padding: 20px;
}
.button:hover {
    background-color: grey;
}